[submodule "BricBrac"]
  path = BricBrac
  url = git@github.com:glimpseio/BricBrac.git
  master = main
	branch = main
[submodule "GUI"]
  path = GUI
  url = git@github.com:glimpseio/GUI.git
  master = master
	branch = master
[submodule "Glean"]
  path = Glean
  url = git@github.com:glimpseio/Glean.git
  master = master
	branch = master
[submodule "Glue"]
  path = Glue
  url = git@github.com:glimpseio/Glue.git
  master = master
	branch = master
[submodule "Glib"]
  path = Glib
  url = git@github.com:glimpseio/Glib.git
  master = master
	branch = master
[submodule "Glance"]
  path = Glance
  url = git@github.com:glimpseio/Glance.git
  master = master
	branch = master
[submodule "Glimpse"]
  path = Glimpse
  url = git@github.com:glimpseio/Glimpse.git
  master = master
	branch = master
[submodule "glimpseviz"]
  path = glimpseviz
  url = git@github.com:glimpseio/glimpseviz.git
  master = master
    branch = master
